footer {
    background-color:$tpl_color_tercero;

    .contacto {

        color: $tpl_color_primario;

        .titulo {
            font-family: $tpl_font_family;
            font-weight: 900;
            font-size: 1.5rem;
        }

        .telefono {
            font-family: $tpl_font_family;
            font-weight: 600;
            font-size: 1.5rem; 
        }
    }

    .copyrigth {
        color:$white;
        font-size: 0.9rem;
        padding-top:10px;

        .triangulo {
            position: absolute; 
            margin-top: -32px;
            margin-left: 560px;
            background: url(../../../assets/img/triangulo.png) no-repeat;
            width:24px;
        }
    }
}