ul {
    list-style-type: none;
}


.dash {
    width: 38px;
    height: 4px;
    display: block;
    background-color: $tpl_color_secundario;
    margin: 40px auto;
}

.dash-vertical {
    width: 2px;
    height: 165px;
    display: block;
    background-color: $tpl_color_secundario;
    margin: 0 30px;
}

.text-color-secundario {
    color:$tpl_color_secundario;
}

.icono {
    width: 72px;
    height: 62px;

    display: inline-block;

    &:hover {
        background-position-x: -72px !important; 
    } 

    &.active {
        background-position-x: -72px !important; 
    }
}