header {
    background-color: $tpl_color_primario !important;

    .navbar {
        padding: 0 !important;

        .navbar-nav {

            .nav-item {

                .nav-link {
                    font-family: $tpl_font_family;
                    font-size: 1.333rem;
                    color: $tpl_color_secundario;

                    &.active {
                        color: $white;
                    }
                }
            }
        }
    }
}