.home-slider {
    widows: 100% !important;
    height: 95vh !important;
    overflow: hidden;

    .bx-wrapper:nth-child(1) {
        width: 40%;
        float: left;
        height: 95vh;
        background-color: $tpl_color_gris !important;
        border:0 !important;
        box-shadow:0 !important;

        .slide-left {
            padding-left: 0 !important;

            li {
                height: 95vh;
                padding-top:120px;
                padding-left: 4rem !important;
                padding-right: 4rem !important;
       
 
                h1 {
                    color:$tpl_color_primario;
                    text-align: left;
                    font-size: 2.5rem;
                    margin-left:50px;
                }

                h2 {
                    color:$white;
                    font-weight:900;
                    font-size: 3.2rem;
                    text-align: center;
                }

                p {
                    color:$tpl_color_primario;
                    text-align: right;
                    word-wrap: break-word;
                    font-size: 1.45rem;
                }
            }
        }
    }
 
    .bx-wrapper:nth-child(2) {
        width:60% !important;
        float: left;
        height: 95vh;
        border:0 !important;
        box-shadow:0 !important;

        .slide-right {
            padding-left: 0 !important;

            li {
                height: 95vh;
            }
        }
    }

    
}
