.slaaa {
    width:100%;
    height: 16rem;
    background: url(../../../assets/img/slides/we-are.jpg);

    .encabezado {

        height: 16rem;

        h1 {
            color:$tpl_color_primario;
            font-size: 4rem;
            font-weight: 900;
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 900;
        }

        p {
            font-size: 1.5rem;
        }
    }
}

.we-are { 

    .parrafos {
        
        text-align: right;
        font-size: 1.4rem;
        font-family: $tpl_font_family;
        color:$tpl_color_texto;
    }

    .service {

        h3 {
            color:$tpl_color_secundario;
            font-size: 1.3rem;
            font-family: $tpl_font_family;
        }

        p {
            font-size: 1rem;
            color:$tpl_color_texto;
            font-family: $tpl_font_family;
        }
        
    }
}